/* Reviews */

.reviews {
    background-color: var(--lightest);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px; 
    align-items: center;  
    overflow: hidden;
    position: relative;
    background-color: var(--darkest);
}

.reviews_scroller {
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: url('../../images/image3.jpg');
    background-position: center;
    background-size: cover;
}

.reviews_track {
    display: inline-block;
    display: flex;
    animation: scroll 40s linear infinite;
}

.review_item {
    display: flex;
    flex-direction: column;
    margin: 0 35px;
    height: 200px;
    width: 250px;
    border-radius: 10px;
    background-color: var(--lightest);
    border: 1px solid var(--darkest);
    box-shadow: 0 0 10px var(--darkest);
    color: var(--darkest);
}

.review_top {
    display: flex;
    align-items: center;
    height: 70px;
}

.review_image {
    height: 45px;
    width: 45px;
    border-radius: 100px;
    margin: 0 10px;
}

.review_date {
    font-size: 12px;
    font-weight: 300;
    margin-top: 2px;
}

.review_stars {
    font-size: 14px;
    margin-left: 10px;
    color: var(--green);
    letter-spacing: 2px;
}

.review_desc {
    font-size: 13px;
    letter-spacing: .2px;
    width: 90%;
    margin-top: 10px;
    line-height: 1.3;
    margin-left: 10px;
    white-space: normal;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-50%); /* Scroll halfway */
    }
    100% {
        transform: translateX(0%); /* Return to the start */
    }
}
  